@import 'vendor/bourbon/bourbon';
@import 'base/all';

main {
	#display-commits {
		padding: 50px;
		margin-left: $sidebar-width + 15px;
		color: $dark-brown;
	}

	#project-title {
		h1 {
			font-weight: 100;
		}
	}

	#description {
		font-style: italic;
		margin: 0px 30px;
		a {
			color: $dark-brown;
			border-bottom: 1px solid $yellow2;
			@include transition(color 0.15s ease-in);
			&:hover {
				color: lighten($dark-brown, 20%);
			}
		}
	}

	.commit-log {
		margin: 35px 0;
		padding: 0 30px;
		border-left: solid 3px $yellow1;
		max-width: 500px;

		a {
			color: $dark-brown;
			@include transition(color 0.15s ease-in);

			.commit-message {
				@include transition(color 0.15s ease-in);
				font-size: 18px;
				color: $go-green;
			}

			&:hover {
				color: lighten($dark-brown, 20%);
				.commit-message {
					color: lighten($go-green, 10%);
				}
			}
		}

		.timestamp {
			font-size: 14px;
		}
		.preview {
			font-size: 14px;
			font-style: italic;
		}
	}
}