main #display-commits {
  padding: 50px;
  margin-left: 315px;
  color: #3e3135; }
main #project-title h1 {
  font-weight: 100; }
main #description {
  font-style: italic;
  margin: 0px 30px; }
main .commit-log {
  margin: 35px 0;
  padding: 0 30px;
  border-left: solid 3px #fff491;
  max-width: 500px; }
  main .commit-log a {
    color: #3e3135;
    -webkit-transition: color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in;
    transition: color 0.15s ease-in; }
    main .commit-log a .commit-message {
      -webkit-transition: color 0.15s ease-in;
      -moz-transition: color 0.15s ease-in;
      transition: color 0.15s ease-in;
      font-size: 18px;
      color: #419365; }
    main .commit-log a:hover {
      color: #775e66; }
      main .commit-log a:hover .commit-message {
        color: #54b37e; }
  main .commit-log .timestamp {
    font-size: 14px; }
  main .commit-log .preview {
    font-size: 14px;
    font-style: italic; }
