<html>
	<head>
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="static/css/layouts/create_project.css" />
		<!-- Fonts -->
		<script type="text/javascript" src="//use.typekit.net/wur7jah.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<!-- Javascript -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
		<script src="/static/js/jquery.timeago.js" type="text/javascript"></script>
		<script src="/static/js/create.js"></script>
	</head>
	<body>
		{% include 'editor_sidebar.html' %}
		<header>
		</header>
		<main>
			<div id="create">
				<h1>Translate me!</h1>
				<form action="/create" method="post">
					<div>
						<input type="text" name="title" maxlength="50" placeholder="What shall I call this project?" autofocus required></input>
					</div>
					<div>
						<input type="text" name="description" maxlength="200" placeholder="What is this project about?" required></input>
					</div>
					<div>
						<textarea name="source-text" placeholder="Tell me a story." required></textarea>
					</div>
					<div>
						<input type="submit" value="create"></input>
					</div>
				</form>
			</div>
		</main>
	</body>
</html>