<div id="sidebar">
    <div id="nav_close">&times;</div>
    <h1>lemonade</h1>

    <ul>
        <li>
            <a href="/projects">projects</a>
        </li>
        <li>
            <a href="/commits">commits</a>
        </li>
    </ul>

    <h3>current project</h3>
    <ul>
        {% for commit in commits %}
        <li>
            <a href="/select_commit/{{ commit.id }}">
                <div>{{ commit.message }}</div>
                <abbr class="timeago" title="{{ commit.timestamp }}"></abbr>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<div id="sidebar-border"></div>
<div id="overlay"></div>