<html>
	<head>
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/layouts/translate.css" />
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
		<!-- Fonts -->
		<script type="text/javascript" src="//use.typekit.net/wur7jah.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<!-- JavaScript -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
		<script src="/static/js/jquery.timeago.js" type="text/javascript"></script>
		<script src="/static/js/translate.js"></script>

	</head>
	<body>
		<!-- border -->
		<div id="v-bar"></div>
		<!-- sidebar -->
		{% include 'editor_sidebar.html' %}
		<!-- header -->
		<header>
			<div id="nav_open">
				<div id="hamburger">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
				<!-- <div id="lemonade"></div> -->
			</div>
		</header>
		<!-- main -->
		<main>
			<div id="source">
				<h2 id="header-left">source text</h2>
				<div id="source-text">{{ project.source_text }}</div>
			</div>
			<div id="translation">
				<form id="editor">
					<h2 id="header-right">translation</h2>
					<textarea placeholder="What does this mean?" name="translated">{{ translation }}</textarea>
					
				</form>
			</div>
		</main>
		<!-- footer -->
		<footer>
			<div id="cat">
				<img src="/static/imgs/mana-run-small.gif" />
			</div>
			<div id="ft-wrapper">
				<div id="save">
					<input form="editor" type="text" name="message" placeholder="Tell me of your adventures and progress." required></input>
					<img src="/static/imgs/cat-button.png" id="cat-button" />
					<button form="editor" type="submit">save</input>
				</div>
			</div>
		</footer>
	</body>
</html>