<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<!-- <link rel="stylesheet" type="text/css" href="/static/css/layouts/view_projects.css" /> -->
	</head>
	<body>
		<header>
		</header>

		<h1>Look at all these projects!</h1>
		Or how about a <a href="/create">new project</a>?
		{% for project in projects %}
			<div class="project">
				<div class="project-title"><a href="/select_project/{{ project.id }}">{{ project.title }}</a></div>
				<div class="description">{{project.description}}</div>
				<div class="source-text">{{project.source_text}}</div>
			</div>
		{% endfor %}

		<footer>
		</footer>
	</body>
</html>