<html>
	<head>
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/layouts/view_commits.css" />
		<!-- Fonts -->
		<script type="text/javascript" src="//use.typekit.net/wur7jah.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<!-- Javascript -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
		<script src="/static/js/jquery.timeago.js" type="text/javascript"></script>
		<script src="/static/js/view_commits.js"></script>
	</head>
	<body>
		{% include 'editor_sidebar.html' %}
		<header>
		</header>
		<main>
			<div id="display-commits">
				<div id="project-title"><h1>{{ title }}</h1></div>
				<div id="description">
					{% if description is defined %}
						{{ description }}
					{% else %}
						<div>Perhaps you should <a href="/create">create a project</a>?</div>
						<div>Or maybe <a href="/projects">select a project</a>?</div>
					{% endif %}
				</div>
				{% for commit in commits %}
				<div class="commit-log">
					<a href="/select_commit/{{commit.id}}">
					<div class="commit-message">
						{{ commit.message }}
					</div>
					<div class="timestamp"><abbr class="timeago" title="{{commit.timestamp}}"></abbr></div>
					<div class="preview">{{ previews.get(commit.id) }}</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</main>
		<footer>
		</footer>
	</body>
</html>