@import 'bourbon/bourbon';
@import 'base/base';

$header-footer-color: #ddd;

html body {
	margin: 0;
	padding: 0;
}

header {
	height: 75px;
	background-color: $header-footer-color;
	width: 100%;
}

main {
	width: 50%;
	margin: 30px auto;

	form {
		width: 600px;

		textarea {
			height: 400px;
		}
	}
}

footer {
	background-color: $header-footer-color;
	height: 75px;
}