@import 'vendor/bourbon/bourbon';
@import 'vendor/base/base';
@import 'base/all';

$font-stack: "franklin-gothic-urw", serif;
$sidebar-color: gray;
$sidebar-closed-width: 5px;

#nav_open {
  display: inline-block;
  position: absolute;
  padding: 10px 15px;
}

#nav_close {
  display: block;
  margin-right: 20px;
  text-align: right;
}

#sidebar-border {
  position: fixed;
  width: $sidebar-closed-width;
  background-color: $sidebar-color;
  height: 100%; 
  z-index: 500;
}

#sidebar {
  display: none;
  position: fixed;
  width: 300px;
  height: 100%; 
  background-color: $sidebar-color;
  overflow-y: scroll;
  padding: 15px;
  z-index: 1000;

  h1 {
    font-family: "Arial";
  }

  a {
    // font-familiy: "";
  }
}

html body {
  height: 100%;
  width: 100%;
	margin: 0;
	padding: 0;
	color: $dark-brown;
  overflow-x: none;
  font-family: $font-stack;

  h1, a {
    font-family: $font-stack;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border-radius: $form-border-radius;
  border: 0;
  box-shadow: none;
  color: $dark-brown;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-top: $base-line-height / 2;
  margin-bottom: $base-line-height / 2;
  padding: 0;
  width: 100%;

  &:hover {
  }

  &:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
  }
}

// %button {
//   -webkit-font-smoothing: antialiased;
//   background-color: green;
//   border-radius: $base-border-radius;
//   color: white;
//   display: inline-block;
//   font-size: $base-font-size;
//   font-weight: bold;
//   line-height: 1;
//   padding: .5em .75em;
//   text-decoration: none;

//   &:hover {
//     background-color: darkgreen;
//     color: white;
//   }
// }
